@import "globals.css";

body {
  background-image: linear-gradient(
    45deg,
    rgb(237, 237, 40),
    rgb(249, 148, 148),
    orange
  );
}

header {
  height: 75px;
  text-align: center;
  /* position: relative; */
  margin-bottom: 60px;
}
h1 {
  font-family: var(--font-style-1);
  font-size: 4rem;
  font-weight: normal;
}

main {
  color: var(--main-color);
  font-family: var(--font-style-2);
  font-size: var(--font-thickness);
  line-height: 1.3rem;
}
h2 {
  width: 33%;
  text-align: center;
}
.quiz {
  height: 100vh;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Question-card */
.question-card {
  /* border: 0.2px solid; */
  border-radius: 2px;
  box-shadow: 1px 1px 2px 2px rgba(128, 128, 128, 0.429);
  position: relative;
  height: 13rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  transition: 0.4s ease-in 0.2s;
}

.question {
  text-align: center;
}
.but {
  margin: 0px auto;
  height: 1.5rem;
  width: 8rem;
  color: var(--main-color);
  background-color: rgba(238, 90, 45, 0.437);
  border-radius: 0.3rem;
  border: none;
  box-shadow: 1px 1px 1px rgb(138, 133, 137);
  font-size: var(--font-thickness);
}
.liste,
.footer__options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  color: var(--main-color);
}
ion-icon {
  border: 2px solid red;
}

/*bookmarks*/
.bookmarks {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ion-icon__bookmarks {
  position: absolute;
  top: -1rem;
  right: 1rem;
}
/*create*/
.create {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

form {
  display: flex;
  flex-direction: column;
}
textarea,
input {
  margin: 1rem 2rem;
  background-color: rgba(251, 240, 240, 0.5);
  border: none;
  border-radius: 2px;
}

.profile {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
img {
  position: relative;
  border: 1px solid;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  border: none;
  box-shadow: 1px 1px 1px 1px rgb(119, 102, 71);
  transition: 2s ease-in-out 0.5s;
  filter: grayscale(25%);
}
figure {
  display: flex;
  flex-wrap: wrap;
}
figcaption {
  font-size: 1.3rem;
}
footer {
  background-color: rgba(255, 228, 196, 0.466);
  font-family: var(--font-style-1);
  height: 50px;
  position: sticky;
  bottom: 0.8rem;
  padding-top: 1rem;
}

p {
  margin: 15px;
}
.skills {
  width: 10rem;
  display: flex;
  gap: 1.2rem;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

img:hover {
  width: 14rem;
  height: 20rem;
  filter: grayscale(17%);
  border-radius: 3px;
  cursor: pointer;
  transform: translate(-1rem, 0rem);
}
.question-card:hover {
  box-shadow: -2px -2px 4px 4px rgba(128, 128, 128, 0.299);
  cursor: pointer;
}
