@import "globals.css";

body {
  background-image: linear-gradient(
    45deg,
    rgb(237, 237, 40),
    rgb(249, 148, 148),
    orange
  );
}

header {
  height: 75px;
  text-align: center;
  /* position: relative; */
  margin-bottom: 60px;
}
h1 {
  font-family: var(--font-style-1);
  font-size: 4rem;
  font-weight: normal;
}

main {
  color: var(--main-color);
  font-family: var(--font-style-2);
  font-size: var(--font-thickness);
  line-height: 1.3rem;
}
.quiz {
  height: 100vh;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Question-card */
.question-card {
  border: 0.2px solid;
  border-radius: 2px;
  box-shadow: 1px 1px 1px gray;
  position: relative;
  height: 13rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
}

.question {
  text-align: center;
}
.but {
  margin: 0px auto;
  height: 2rem;
  width: 10rem;
  color: var(--main-color);
  background-color: rgb(255, 255, 255);
  border-radius: 0.3rem;
  border: none;
  box-shadow: 1px 1px 1px rgb(119, 102, 71);
  font-size: var(--font-thickness);
}
.liste,
.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  color: var(--main-color);
}
.bmark,
.bmarkw {
  position: absolute;
  top: -0.7rem;
  right: 1rem;
  height: 25px;
}

/*bookmarks*/
.bookmarks {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*create*/
.create {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

form {
  display: flex;
  flex-direction: column;
}
textarea,
input {
  margin: 1rem 2rem;
  background-color: rgba(251, 240, 240, 0.5);
  border: none;
  border-radius: 2px;
}

.profile {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
img {
  position: relative;
  border: 1px solid;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  border: none;
  box-shadow: 1px 1px 1px 1px rgb(119, 102, 71);
  transition: 2s ease-in-out 0.5s;
}
figure {
  display: flex;
  flex-wrap: wrap;
}
figcaption {
  font-size: 1.5rem;
}
footer {
  background-color: rgba(255, 228, 196, 0.466);
  font-family: var(--font-style-1);
  height: 50px;
  position: sticky;
  bottom: 0.8rem;
  padding-top: 1rem;
}

p {
  margin: 15px;
}
.skills {
  width: 10rem;
  display: flex;
}

a {
  text-decoration: none;
  color: var(--main-color);
}
img:hover {
  width: 17rem;
  height: 23rem;
  border-radius: 3px;
  cursor: pointer;
  transform: translate(5rem, 0rem);
}
