@import './globals.css';
@import './utility.css';

body {
  background-image: linear-gradient(45deg, yellow, orange, rgb(232 89 89));
}

header {
  height: 75px;
  text-align: center;
  margin-bottom: 60px;
}

h1 {
  font-family: var(--font-style-1);
  font-size: 4rem;
  font-weight: normal;
}

h2 {
  width: 33%;
  text-align: center;
}

main {
  color: var(--main-color);
  font-family: var(--font-style-2);
  font-size: var(--font-thickness);
  line-height: 1.3rem;
}

.quiz {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Question-card */
.question-card {
  border-radius: 2px;
  box-shadow: 1px 1px 2px 2px rgba(128 128 128 /42.9%);
  position: relative;
  height: 17rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px auto;
  transition: 0.4s ease-in 0.2s;
  perspective: 800px;
  perspective-origin: left top;
}

.question {
  text-align: center;
  margin-top: 30px;
}

.question1 {
  margin-top: auto;
}

/* bookmarks */

.bookmarks {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* create */

.create {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

form {
  display: flex;
  flex-direction: column;
  position: relative;
}

textarea,
input {
  margin: 1rem 2rem;
  background-color: rgba(55 51 51 /25.4%);
  border: none;
  border-radius: 2px;
}

.profile {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

img {
  position: relative;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  border: none;
  box-shadow: 1px 1px 1px 1px rgb (119, 102, 71);
  transition: 2s ease-in-out 0.5s;
  filter: grayscale(25%);
}

figure {
  display: flex;
  flex-wrap: wrap;
}

figcaption {
  font-size: 1.3rem;
}

.navigation {
  display: flex;
  justify-content: space-around;
  background-color: rgba(132 130 127 /65.8%);
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 1rem;
  padding-top: 1rem;
}

.button--nav {
  cursor: pointer;
  margin-bottom: 15px;
  height: 1.5rem;
  font-family: var(--font-style-2);
  font-size: var(--font-thickness);
  background-color: transparent;
  border: none;
}

.liste {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  color: var(--main-color);
}

p {
  margin: 15px;
}

.skills {
  width: 10rem;
  display: flex;
  gap: 1.2rem;
  margin-bottom: 5rem;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

/* :hover */
img:hover {
  width: 14rem;
  height: 20rem;
  filter: grayscale(17%);
  border-radius: 3px;
  cursor: pointer;
  transform: translate(-1rem, 0);
}

.question-card:hover {
  box-shadow: -2px -2px 4px 4px rgba(128 128 128 /29%);
}

/* script */

.ion-icon__bookmarks {
  position: absolute;
  top: -1rem;
  right: 1rem;
  transition: 2s ease-in-out;
}

.item--one__color {
  color: wheat;
}

span {
  margin: 15px 0 0 40px;
}

.button {
  position: absolute;
  right: 8rem;
  top: 5rem;
  cursor: pointer;
  height: 1.5rem;
  width: 8rem;
  color: var(--main-color);
  background-color: rgba(247 77 25 /46.5%);
  border-radius: 0.3rem;
  border: none;
  box-shadow: 1px 1px 1px rgb (138, 133, 137);
  font-size: var(--font-thickness);
}

.button1 {
  display: flex;
  justify-content: center;
}

.submit {
  position: absolute;
  top: 20rem;
  left: 13rem;
}

.bookmark--question {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.button--book {
  position: absolute;
  top: 7rem;
}

.answer2 {
  margin-left: 1rem;
  word-break: break-all;
}
